<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Resultado</servlet-name>
		<servlet-class>epis.unsa.ResultadoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Resultado</servlet-name>
		<url-pattern>/resultado</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Registro</servlet-name>
		<servlet-class>epis.unsa.RegistroServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registro</servlet-name>
		<url-pattern>/registro</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Ver</servlet-name>
		<servlet-class>epis.unsa.VerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ver</servlet-name>
		<url-pattern>/verServlet</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
